@import "tailwindcss/preflight";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities";

@import "keen-slider/keen-slider.min.css";

.animate-float {
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer base {
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5); /* bikin icon terlihat di dark/light mode */
    cursor: pointer;
  }
}
